---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				background-color: #efffff;
			}
			main {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 2em;
				color: rgb(var(--gray-dark));
				background-color: #fff;
				border: 1px solid #bbd0e7;
			}
			li {
  				margin-bottom: 15px;
				vertical-align: top;
			}
			.date {
				margin: 0;
				color: #A0A0A0;
			}
			@media (max-width: 720px) {
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<h5 class="title">{post.data.title} &mdash; 
									<span class="date"><FormattedDate date={post.data.pubDate} /></span></h5>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
